@page "/Inventory"
@using ApiServices
@using Items
@using System.Text.Json
@inject ItemService ItemService;

<PageTitle>Inventory</PageTitle>

<h3>Items</h3>
<h3>Item Details</h3>

@if (page_item == null)
{
    <p>Loading...</p>
}
else
{
    <h4>@page_item.Name</h4>
    <p>@page_item.Description</p>

    <h5>Stats</h5>
    <ul>
        <li>Type: @page_item.Details.Type</li>
        <li>Damage: @page_item.Details.MinPower - @page_item.Details.MaxPower</li>
        <li>Defense: @page_item.Details.Defense</li>
    </ul>

    <h5>Infusion Slots</h5>
    <ul>
        @foreach (var slot in page_item.Details.InfusionSlots)
        {
            <li>@string.Join(", ", slot.Flags)</li>
        }
    </ul>
}
@code{
//@Item.Name
    private ItemResponse? page_item;
    //all the items in their bank
    private List<ItemResponse> bank_items = new List<ItemResponse>();
    
    //eventually the string/key should be a "character" object
    //for now we'll just use the name via string until we make that
    private Dictionary<string, List<ItemResponse>> character_inventories = new Dictionary<string, List<ItemResponse>>();

     protected override async Task OnInitializedAsync()
    {
        // I wish I had twilight.....;w;
        page_item = await ItemService.GetItemAsync(id:30704);
   
    }   
}